﻿@page

@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@Html.AntiForgeryToken()

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#customerModel">
 Agregar persona
</button>

<!-- Modal -->
<div class="modal fade" id="customerModel" tabindex="-1" role="dialog" aria-labelledby="customerModelTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Agregar persona</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
              <label for="name" class="mb-1">Nombre</label>
            <input type="text" class="form-control" id="name" name="name" aria-describedby="nameHelp" placeholder="Ingrese su nombre">


            <label for="email" class="mb-1 mt-2">Email</label>
            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Ingrese su email">

            <label for="mobile" class="mb-1 mt-2">Celular</label>
            <input type="text" class="form-control" id="mobileNumber" name="MobileNumber" aria-describedby="mobileHelp" placeholder="Ingrese su celular">
            <input type="hidden" id="id" name="id" />
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" id="btnAdd" class="btn btn-primary">Guardar cambios</button>
      </div>
    </div>
  </div>
</div>
<div class="text-center">

    <table id="CustomerTable" class="table table-striped table-bordered table-hover mt-4">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Email</th>
                <th>Celular</th>
                <th colspan="2">Acciones</th>
            </tr>
        </thead>
        <tbody>        
        </tbody>
    </table>

</div>

@section Scripts
{
    <script>
        var personas = [];
        loadCustomerRecords();

        function DrawTable(response)
        {
            $.each(response, function(i, item) {
                var $tr = $('<tr id="'+item.id+'">').append(
                    $('<td>').text(item.name),
                    $('<td>').text(item.email),
                    $('<td>').text(item.mobileNumber),
                    $('<td>').html('<button type="button" args="'+ item.id +'" class="btn-edit btn btn-success">Editar</button>'),
                    $('<td>').html('<button type="button" args="'+ item.id +'" class="btn-delete btn btn-danger">Borrar</button>')
                ).appendTo('#CustomerTable');
            });
        }

        $(document).on('click', '.btn-edit', function(){ 
            var id = $(this).attr('args');

            $.ajax({
                type: "GET",
                url: "/Index?handler=ById",
                data: {"id": id},
                contentType: 'application/x-www-form-urlencoded',
                dataType: "json",
                headers:
                {
                    "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                success: function (msg) {  
                   $("#name").val(msg.name);
                   $("#email").val(msg.email);
                   $("#mobileNumber").val(msg.mobileNumber);
                   $("#id").val(msg.id);
                   $("#btnAdd").addClass("btn-update"); //add the btn-update class to modal save button so that we can make diferrent between add or update action

                   $('#customerModel').modal('show');
                
                }
            });

        });

        $(document).on('click', '.btn-delete', function(){ 
            var id = $(this).attr('args');
            $.ajax({
                type: "POST",
                url: "/Index?handler=Delete",
                data: {"id": id},
                contentType: 'application/x-www-form-urlencoded',
                dataType: "json",
                headers:
                {
                    "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                success: function (msg) {  
                   $('table#CustomerTable tr#'+ id).remove();
                   // elimina la persona del arreglo
                   /// verificar
                    personas = personas.filter(function( id ) {
                      return id !== id;
                    });
                    console.log(personas);
                }
            });
        });

        function loadCustomerRecords()
        {
            $.ajax({
                type: "GET",
                url: "/Index?handler=Record",
                contentType: 'application/x-www-form-urlencoded',
                dataType: "json",
                headers:
                {
                    "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                success: function (msg) { 
                    DrawTable(msg);
                }
            });
            
        }

        function validarCampos() {
            
            var name = $("#name").val().trim();
            if (name.length == 0) {
                  alert("Por favor ingrese su nombre");
                return false;
            }

            var email = $("#email").val().trim();
            if (email.length  == 0) {
                  alert("Por favor ingrese su email");
                return false;
            }

           var celular = $("#mobileNumber").val().trim();
            if (celular.length  == 0) {
                  alert("Por favor ingrese su celular");
                return false;
            }
        }


        $("#btnAdd").click(function(e){
      

            e.preventDefault();
            validarCampos();
            $.ajax({
                type: "POST",
                url: "/Index?handler=Add",
                data: $('form').serialize(),
                contentType: 'application/x-www-form-urlencoded',
                dataType: "json",
                headers:
                {
                    "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                
               
                  
                success: function (msg) { 

                    if ($('#btnAdd').hasClass('btn-update'))
                    {
                   
                        $('table#CustomerTable tr#' + msg.id).find("td").eq(0).html(msg.name);
                        $('table#CustomerTable tr#' + msg.id).find("td").eq(1).html(msg.email);
                        $('table#CustomerTable tr#' + msg.id).find("td").eq(2).html(msg.mobileNumber);

                        $("#btnAdd").removeClass('btn-update');
                      
                    }  else {
                      loadCustomerRecords(); //refresh the table
                        var id = $("#id").val();
                        var nombre = $("#name").val();
                        var email = $("#email").val();
                        var celular = $("#mobileNumber").val();

                        var persona = {"id":id, "nombre": nombre,"email":email,"celular":celular}
                        personas.push(persona);
                        console.log(personas)
                    }
                    $('#customerModel').modal('hide'); //hide the modal
                }
            });

            
        });
    </script>
    
}